<h1><i class="fa fa-home"></i> Home</h1>

<div class="container">
	<div ng-show="displayMsg" class="msgDiv">{{message}}</div>
	<span class="heading">Active Projects</span><br/>
	<div class="projList">
		<div ng-repeat="activeProj in activeProjects" class="projBox active">
			<div class="projectName">{{activeProj.projName}}</div>
			<div class="projectDate"><i class="fa fa-calendar"></i> {{activeProj.visitDate}}</div>
			<div class="status"><a ng-click="closeProject(activeProj.projId)"><i class="fa fa-chain-broken"></i> Close</a></div>
			<div class="delIcon"><a ng-click="deleteProject(activeProj.projId)"><i class="fa fa-trash-o"></i></a></div>
		</div>
	</div>
	<span class="heading">Hold Projects</span><br/>
	<div class="projList">
		<div ng-repeat="holdProj in holdProjects" class="projBox inactive">
			<div class="projectName">{{holdProj.projName}}</div>
			<div class="projectDate"><i class="fa fa-calendar"></i> {{holdProj.visitDate}}</div>
			<div class="status">
				<a ng-click="activateProject(holdProj.projId)"><i class="fa fa-chain"></i> Activate</a>
				<a ng-click="closeProject(holdProj.projId)"><i class="fa fa-chain-broken"></i> Close</a>
			</div>
			<div class="delIcon"><a ng-click="deleteProject(holdProj.projId)"><i class="fa fa-trash-o"></i></a></div>
		</div>
	</div>
	<span class="heading">Closed Projects</span><br/>
	<div class="projList">
		<div ng-repeat="closeProj in closedProjects"  class="projBox closed">
			<div class="projectName">{{closeProj.projName}}</div>
			<div class="projectDate"><i class="fa fa-calendar"></i> {{closeProj.visitDate}}</div>
			<div class="delIcon"><a ng-click="deleteProject(closeProj.projId)"><i class="fa fa-trash-o"></i></a></div>
		</div>
	</div>
</div>

<div class="popUp" id="popUp">
	<span class="heading">Delete Project?</span><hr/>
	You are about to delete this Project. This action cannot be undone!
	<div class="buttons">
		<input type="button" value="DELETE" ng-click="popUpClicked('yes')"/>
		<input type="button" value="CANCEL" ng-click="popUpClicked('no')"/>
	</div>
</div>