
/* Default Page Styles */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 html,body{
	margin:0
 }
 body{
	font-family:'Patua One',sans-serif;
	background: url("../images/background.png");
 }
 .block {
    position: absolute;
    background: #fff;
    width: 236px;
    border: 1px solid #e7e7e7;
	border-radius:3px;
	min-height:200px;
	 box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
}

div.itemPict {
    width: 100%;
    min-height: 120px;
}
div.itemName, div.contributer {
    width: 100%;
    min-height: 30px;
    padding: 5px 10px;
	
}
div.itemName{
	border-bottom: 1px solid #e7e7e7;
}
.contributeButton{
	display:none;
}
.sponsorButton{
	position:absolute;
	top:2px;
	left:2px;
	border:0;
	background: red;
	color: #fff;
	padding:10px;
	border-radius:5px;
	cursor:pointer;
}

.wishListSection, .projSection{
	position:relative;
	margin:0 auto;
	width:960px;
}
.projSection{
	height:340px;
}
.projectHeading{
	height:50px;
	color: #000;
	font-size:28px;
	text-align:center;
}
.projSectionLeft{
	float:left;
	width:69%;
	height:300px;
	margin-right:1%;
	margin-top:20px;
	background:url('../images/wishTagLine.png') no-repeat;
	background-size:cover;
}

.projSectionRight{
	float:right;
	height:300px;
	width:30%;
	padding:20px;
	margin-top:20px;
	background:url('../images/description/backContent.png');
}
.projRow{
	padding:5px 20px;
	height:55px;
	border-bottom:1px solid #fff;
	font-size:17px;
	font-weight:bold;
}
.projCountDesc{
	font-weight:400;
}
.projIcon{
	float:left;
	width:40px;
	height:40px;
	background:#98b709;
	margin-right:10px;
}